{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="footer-columns">
    <div class="footer-columns-heading">
        <h2>Connect</h2>
    </div>
    
    <div class="footer-columns-data">
        <p>You can connect with us in these social networks.</p>
        <div class="connect-logos">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>

{% endblock content %}