{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart-Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_small.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_medium.css' %}">  
    <link rel="stylesheet" href="{% static 'css/styles_large.css' %}">  
</head>
<body>
    <div class="full-page">
        <div class="page-content">
            <div class="navbar">
                <div class="nav-title">
                    <a href="{% url 'home' %}">Smart-Cart</a>            
                </div>               
            </div>

            <div class="login-page">
                {% if messages %}
                <div class="messages">  
                    {% for message in messages %}              
                    <div  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div> 
                    {% endfor %}               
                </div>
                {% endif %}
                
                <div class="login-marquee-text">
                    <marquee behavior="" direction="left" scrollamount="15">Create an account in Smart-Cart to explore the festival of Sales...</marquee>
                </div>

                <form action="" id="login-form" method="post">{% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter Your Username" autocomplete="off">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email" autocomplete="off">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password">
                    <button type="submit">Register</button>
                    <div class="register-option">
                        <h3>Existing User?  <a href="{% url 'login' %}">LogIn</a></h3>
                    </div>
                </form>                     
            </div>           
        </div>  
        
        <div class="footer">
            <div class="footer-items">
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'support' %}">Support</a>
                <a href="{% url 'consumer_policy' %}">Consumer Policy</a>
                <a href="{% url 'connect' %}">Connect with Us</a>
                <a href="{% url 'contact' %}">Contact us</a>
            </div>
            
            <div class="copyright">
                <p>©2023,<a href="{% url 'home' %}">Smart-Cart</a></p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

