{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="footer-columns">
    <div class="footer-columns-heading">
        <h2>Support</h2>
    </div>
    
    <div class="footer-columns-data">
        <p>We offer support to our customers with problems related to Product Purchase, Order placement, Delivery of the order and Return of the product, if the product is not good.</p>
        <p><a href="">Click here to go to our Support services.</a>(Chat-bot support for normal enquiries 24x7 and technical support from 10am to 5pm on working days).</p>
    </div>
</div>

{% endblock content %}